nav.navbar.navbar-expand-lg.navbar-light.bg-color
    .container
        
            .col-auto
                a.navbar-brand(href="/")
                    img.logo-img(src="/images/logoLemming.png", alt="Logo")
                    
            .col-auto 
                nav.navbar.navbar-expand-lg.navbar-light.bg-color
                    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav.ml-auto 
                            li.nav-item
                                a.nav-link(href="/videos/upload") Upload de Vidéo
                            li.nav-item
                                a.nav-link(href="/videos/video-list") Liste de Vidéos
            