extends layout.pug

block content 

    div.text-center.mt-5
        h1 Accueil
        p Bienvenue sur votre site de streaming préféré.
    div.text-center.mt-5
        img(src="images/lemming.jpg", alt="lemming")
    